*{
    margin:0;
    padding:0;
    list-style:none; 
}

.ir-arriba{
 display:none;
 position: fixed;
 right:10px;
 bottom:0;
 padding:78px 60px;
 background-image:url(../img/arriba.png);
 background-repeat:no-repeat;
 cursor: pointer;


}

.social-bar{
position: fixed;
left:0;
top:20px;
font-size:5px;
display:flex;
flex-direction: column;
align-items:flex-start;
z-index:2000;
}

.icon{
    color: white;
    text-decoration:none;
    padding:20px;
    display:flex-start;
    transition:all .5s;
}

.icon-facebook{
    background-color:#2E306E;
    background-image:url(../img/facebook.png);
    background-repeat:no-repeat;
    border-radius:0 10px 0 0;
}

.icon-twitter{
    background-color:#339DC5;
    background-image:url(../img/twitter.png);
    background-repeat:no-repeat;
}

.icon-youtube{
    background-color:#e83028;
    background-image:url(../img/youtube.png);
    background-repeat:no-repeat;
}

.icon-mobile{
    background-color:#cccc;
    background-image:url(../img/amino.png);
    background-repeat:no-repeat;
    border-radius:0px 0px 10px 0px;
}

.icon:hover {
padding-left:1px;
border-radius:1px 0 0 1px;
box-shadow:0 0 1px rgba(0, 0,0,42);
}



header{
        position: relative;
        margin-left:100px;
        margin-right:100px;
        margin-top:0px;   
        width:1250px;
        height:300px;
    background-image: url(../img/Portada1.png);
}

.menu{
        position:relative; 
        margin-left:58px;
        margin-right:0px;
        width:1250px;
        height:60px;
}

.menu .menu a:hover{
  background-image:url(../img/boton-inicio.png);
  color: white;
  text-decoration:none;
}

.menu .menu a{
text-decoration:none;
}

.botones{
float: left;
width: 240px;
margin:0px 2px;
height:60px;
background-image:url(../img/boton.png);
color:white;
font-family: 'Gochi Hand', cursive;
text-align: center;
line-height:60px;
font-size:25px;

}

.carousel-inner img {
    width:1250px;
    height: 300px;
    border:5px solid #767676;
}


#top{
    position:relative;
    margin-left:100px;
    margin-right:100px;
    margin-top:0px;
    width:1250px;
    height:300px;
background:#9e9e9e
}

audio{
position: absolute;
right: 50px;
top: 100px;
}

p{
    position:absolute;
    right: 60px;
    top: 135px;
    color:black;
}

.radio{
    color:black;
}

aside#der{
position:absolute;
left:1000px;
right:0;
top:0;
width:300;
height:1450px;
background-image:url(../img/barra-lateral.png);
}

#myInput {
    background-position:5px 2px;
    width: 150px;
    font-size: 16px;
    background-color: white;
    background-image:url(../img/Buscador.png);
    background-repeat: no-repeat;
    padding: 0px 40px 0px 40px;
    border: 3px solid #767676;
    margin-top:35px; 
    margin-bottom: 12px;
    margin-left:33px;
  }

.MyAnimeList{
    position: absolute;
    top: 160px;
    right: 55px;
}

.TuMangaOnline{
    position: absolute;
    top: 300px;
    right: 55px;
}

iframe{
    margin-top: 375px;
    margin-left: 25px;

}

.content-box-blue {
    background-color:transparent;
    width:300px;
    height:40px;
    }

.twitter-timeline{
   margin-left:25px;
   margin-top:20px;
}

.ArticulosMasPopulares{
    position:relative;
    top:20px;
    margin-left: 185px;
    font-family: 'Gochi Hand', cursive;
    font-size: 45px;
    color: #d3d3d3;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px #202020, 2px 2px 1px #d3d3d3;
}

article{
position:absolute;
left:50px;
top:0;
width:950px;
height:1450px;
background-image:url(../img/article.png);

}

section{
    position:relative;
    margin-left:50px;
    margin-right:50px;
    width:1250px;
    height:1000px;
}

.footer{
    position:relative;
    margin-left:100px;
    margin-right:100px;
    margin-top:450px; 
    width:1250px;
    height:200px;
    background-image:url(../img/footer.png);
    text-align:center;
    line-height:60px;
    font-family: 'Kavivanar', cursive;
    color:white;
    text-align:center;
}

.container{
    position: absolute;
    top: 5px;
    left: 0px;
font-size: 15px;
}

.Kamui{
    position: absolute;
    right: 15px;
    top: 45px;
}

.Paginas-Recomendadas{
    position: absolute;
    right:85px;
    top:5px;
    font-family: 'Kavivanar', cursive;
    color: white;
}

body { 
background-image: url(../img/Fondo.png);
background-repeat: no-repeat;
width:1420px;
height: 2300px;
}