
/* Primera Arriba Izquierda */
/* Margen */


.card {
    width: 100%;
    overflow: hidden;
    padding: 0px 0px 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin-left: 50px;
    top:20px;
    margin-top: 25px;
}

/* Tamaño Recuadro */

/* Borde Rojo */
.card__content {
    border-bottom: 5px solid;
    overflow: hidden;
    position: relative;
}
.card__image {
    height: 300px;
    display: block;
    position: relative;
}
.card__image::before {
    content: "";
    background: url('') repeat scroll 0 0 rgba(0, 0, 0, .4);
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: background .3s, opacity .3s;
    transition: background .3s, opacity .3s;
}

.card__content:hover .card__image::before {
    background-color: rgba(0, 0, 0, .8);
    opacity: 0.8;
}

.card__image img {
    width: auto;
    max-width: inherit;
    height: 100%;
    min-width: 100%;
}

.card__content::after, 
.card__content::before {
    color: #fff;
    font-family: 'Kavivanar', cursive;
    font-size: 20px;
    z-index: 10;
    font-weight: 500;
    display: block;
    position: absolute;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.card__content::after {
    content: attr(data-ptitle);
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 10px;    
    text-overflow: ellipsis;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);    
}
.card__content:hover::after {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
/* Tamaño */
@media (min-width: 300px) {
    .card {
        width: 90%;
    }
}
.swiper-container,
.card__content {
border-color: #861a1e; 
}

